/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 15, 2020, 12:05:26 PM
    Author     : USER
*/

body {
    background: rgb(44, 64, 90)
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-image: url("../img/mainpageBG.jpg");
    color: whitesmoke;
    padding: 40px;
    width: 100%;
    height: calc(100vh-100px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

