/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 15, 2020, 12:05:26 PM
    Author     : USER
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../img/mainpageBG.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
    padding: 0px;
}

.container {
    text-align: center;
    margin-top: 110px;
}

.btn {
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    background-color: rgb(104, 130, 158, 0.3);
    padding: 10px 20px;
    font-size: 20px;
}

.btn:hover {
    background: red;
    color: whitesmoke;
}
