/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 15, 2020, 2:04:55 PM
    Author     : USER
*/

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

a{ 
    color: whitesmoke;
    text-decoration: none;
}

.navbar {
    font-family: 'Oswald', sans-serif;
}

.nav-navbar {
    position: fixed;
    background: rgb(44, 64, 90);
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.nav-item {
    display: inline-block;
    margin: 20px 20px 20px 20px;
    font-size: 20px;
    color: whitesmoke;
}
.hover:hover {
   text-decoration: underline;
   color: red;
}
